PurchaseOrderProcess-2.0.0/bpelContent/ProductionSchedulingService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://scheduling.spec.bpel.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://scheduling.spec.bpel.wso2.org">
    <wsdl:documentation>ProductionSchedulingService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://scheduling.spec.bpel.wso2.org">
            <xs:element name="schedule">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="orderId" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="scheduleResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:long"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="scheduleRequest">
        <wsdl:part name="parameters" element="ns:schedule"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="scheduleResponse">
        <wsdl:part name="parameters" element="ns:scheduleResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="ProductionSchedulingServicePortType">
        <wsdl:operation name="schedule">
            <wsdl:input message="ns:scheduleRequest" wsaw:Action="urn:schedule"></wsdl:input>
            <wsdl:output message="ns:scheduleResponse" wsaw:Action="urn:scheduleResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ProductionSchedulingServiceSoap11Binding" type="ns:ProductionSchedulingServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <wsdl:operation name="schedule">
            <soap:operation soapAction="urn:schedule" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ProductionSchedulingServiceSoap12Binding" type="ns:ProductionSchedulingServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
        <wsdl:operation name="schedule">
            <soap12:operation soapAction="urn:schedule" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ProductionSchedulingServiceHttpBinding" type="ns:ProductionSchedulingServicePortType">
        <http:binding verb="POST"></http:binding>
        <wsdl:operation name="schedule">
            <http:operation location="schedule"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ProductionSchedulingService">
        <wsdl:port name="ProductionSchedulingServiceHttpsSoap11Endpoint" binding="ns:ProductionSchedulingServiceSoap11Binding">
            <soap:address location="https://127.0.0.1:9445/services/ProductionSchedulingService.ProductionSchedulingServiceHttpsSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="ProductionSchedulingServiceHttpSoap11Endpoint" binding="ns:ProductionSchedulingServiceSoap11Binding">
            <soap:address location="http://127.0.0.1:9765/services/ProductionSchedulingService.ProductionSchedulingServiceHttpSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="ProductionSchedulingServiceHttpSoap12Endpoint" binding="ns:ProductionSchedulingServiceSoap12Binding">
            <soap12:address location="http://127.0.0.1:9765/services/ProductionSchedulingService.ProductionSchedulingServiceHttpSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="ProductionSchedulingServiceHttpsSoap12Endpoint" binding="ns:ProductionSchedulingServiceSoap12Binding">
            <soap12:address location="https://127.0.0.1:9445/services/ProductionSchedulingService.ProductionSchedulingServiceHttpsSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="ProductionSchedulingServiceHttpEndpoint" binding="ns:ProductionSchedulingServiceHttpBinding">
            <http:address location="http://127.0.0.1:9765/services/ProductionSchedulingService.ProductionSchedulingServiceHttpEndpoint/"></http:address>
        </wsdl:port>
        <wsdl:port name="ProductionSchedulingServiceHttpsEndpoint" binding="ns:ProductionSchedulingServiceHttpBinding">
            <http:address location="https://127.0.0.1:9445/services/ProductionSchedulingService.ProductionSchedulingServiceHttpsEndpoint/"></http:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>